<footer class="footer-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">About Us</h5>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/about.html">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">Shotcuts</h5>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="/lending.html">Our Loans</a></li>
                            <li><a href="/support.html">Support packages</a></li>
                            <li><a href="/investor.html">New Investor</a></li>
                            <li><a href="/risk.html">Risk Management</a></li>
                            <li><a href="/funding.html">Financial Solutions</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">more shotcuts</h5>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="/access.html">Accessibility</a></li>
                            <li><a href="/emission.html">Emission Reduction</a></li>
                            
                            <li><a href="/personal.html">Personal Banking</a></li>
                            <li><a href="/business.html">Business Banking</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-footer-widget mb-100">
                    <h5 class="widget-title">Latest News</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                        <!-- Footer Logo -->
                        <div class="w3-left">
                    <img src="/assets/images/logo.png" height="25">
                </div>
                         <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                                </script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
